* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  background-size:cover;
  background-position:center;
}

body {
  background: rgba(44, 100, 180, 0.8);
  background: #3F5170;
  background: #d6d6d6;
  background: #e2e2e2;
}

body, html {
  height: 100%;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  opacity: 0.6;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  min-height: 100%;
}


.caption span.border h2 {
}

.caption {
  /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
  width: 80%;
  padding: 30px 10%;
  /*border-right: 5px solid #3F5170;*/
  border-radius: 3px;
  font-size: 24px;
  display: block;
  line-height: 64px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*MENU*/
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
  background: #d6d6d6;
  background: #e2e2e2;
  font-size: 12pt;
  position: fixed;
  width: 100%;
  background-color: #e2e2e2;
  z-index: 1;
}

.logo {
  margin-right: auto;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta, .logo,
.overlay__content a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  color: #161616;
  font-weight: bold;
  text-decoration: none;
}

.overlay__content a {
    color: #d6d6d6;
    color: #e2e2e2;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  /*transition: all 0.3s ease 0s;*/
}

.nav__links li a:hover {
  border-bottom: 2px solid #3F5170;
}

.cta {
  margin-left: 20px;
  padding: 8px 25px;
  background-color: #3F5170;
  height: 35px;
  color: #d6d6d6;
  color: #e2e2e2;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 16px;
}

.cta:hover {
  background-color: #8EB0B8;
  color: #161616;
}

/* Mobile Nav */
.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #161616;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #8EB0B8;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #8EB0B8;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 850px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

.empty__space {
  padding: 50px;
}

/*===== CLASS CSS ===== */
.section-title{
  position: relative;
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: ;
}
.section{
  padding-top: 3rem;
  padding-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 80%;
  padding: 30px 10%;
  border-right: 5px solid #3F5170;
  border-radius: 3px;
  margin: 0 auto 50px;
  background-color: #e2e2e2 !important;
  position: relative;
}

.ul__table {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

#interests.section ul {
  margin: 0 auto;
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  text-align: center;
}

.date {
  color: #3F5170;
  font-weight: bold;
  border-left: 2px dotted #3F5170;
  border-right: 2px dotted #3F5170;
  padding: 0 5px;
}

@media only screen and (max-width: 520px) {
#interests.section ul {
    margin: 0 auto;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    text-align: center;
  }
}

@media only screen and (max-width: 300px) {
#interests.section ul {
    margin: 0 auto;
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    text-align: center;
  }
}

.section li {
  font-weight: bold;
  margin-bottom: 10px;
  list-style-type: none;
  font-size: 17px;
  margin-top: 10px;
}

hr {
  border: 1px solid #3F5170;
  border-radius: 3px;
}

h1 {
  text-decoration: underline;
}

h2 {
  margin-bottom: 10px !important;
}

/* ===== ABOUT =====*/
.about__container{
  row-gap: 2rem;
  text-align: left;
}
.about__subtitle{
}
.about__img{
  justify-self: center;
}
.about__img img{
  width: 200px;
  border-radius: .5rem;
}

/* Add styles to 'container' class */
.container {
	margin: 20px auto 0;
  border-radius: 3px;
  border-right: 5px solid #3F5170;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  padding: 30px 10%;
  max-width: 80%;
  padding-bottom: 15px;
}

/* Add styles to 'label' selector */
label {
	font-size:  22px;
  font-weight: bold;
  color: #111;
}

/* Add styles to 'input' and 'textarea' selectors */
input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Add styles to show 'focus' of selector */
input[type=text]:focus,input[type=email]:focus, textarea:focus {
	border: 1px solid green;
}

/* Add styles to the submit button */
input[type=submit] {
  padding: 8px 25px;
  background-color: #3F5170;
  height: 35px;
  color: #d6d6d6;
  color: #e2e2e2;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 16px;
  font-weight: bold;
}

/* Add styles for 'focus' property */
input[type=submit]:focus {
	background: rgb(17, 17, 17);
	color: whitesmoke;
}

/* Style 'hover' property */
input[type=submit]:hover {
	background: #2196F3;
}

/* Align items to center of the 'div' with the class 'center' */
.center {
	text-align: center;
}

:root {
  --background: #005;
  --primary: #8EB0B8;
  --secondary: #3F5170;
  --third: #e27fcb;
}

.container__animation {
  align-items: center;
  display: inline-block;
  justify-content: center;
  position: absolute;
  right: 0;
}

.shape {
  background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 350px;
  transition: all 1s ease-in-out;
  width: 370px;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
